<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: common-header">
</head>
<body>
<div class="header-nightsky">
    <nav th:replace="fragments/layout :: header"></nav>
    <div class="hero">
        <h1>Hệ Thống Quản Lý Cửa Hàng</h1>
        <p>Xin chào Nhân viên <span th:text="${staffName}"></span><br>Vui lòng chọn một chức năng bên dưới</p>
        <a class="btn btn-primary" th:href="@{/customer}">Tìm Kiếm Khách Hàng</a><br>
        <a class="btn btn-primary">Khác</a>
    </div>
    <footer th:replace="fragments/layout :: footer"></footer>
</div>
</body>
</html>