<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: common-header"></head>
<body>
<div class="header-nightsky">
    <nav th:replace="fragments/layout :: header"></nav>
    <div class="hero list" style="margin: 0px auto 20px auto;">
        <div class="jumbotron">
            <h1 style="color: #313131;font-size: 30px;">Thông Tin Thanh Toán</h1>
            <p style="color: cadetblue;font-size: initial;"
               th:text="${'Mã khách hàng: '+customerInfo?.id}"></p><br>
            <p style="color: cadetblue;font-size: initial;"
               th:text="${'Tên khách hàng: '+customerInfo?.fullName+' - SĐT: '+customerInfo?.phone}"></p><br>
            <p style="color: cadetblue;font-size: initial;"
               th:text="${'Địa chỉ: '+customerInfo?.address}"></p><br>
            <p style="color: cadetblue;font-size: initial;" th:text="${'Ngày Trả: '+ #dates.format(#dates.createNow(), 'dd-MM-yyyy')}"></p><br>
            <p style="color: cadetblue;font-size: initial;"
               th:text="${'Thời điểm thanh toán: '+bill?.createTime}"></p><br>
        </div>

        <th:block th:if="${paySuccess}">
            <script type="text/javascript">
                window.onload = function () {
                    if (confirm("Thanh toán thành công! Quay về trang chủ!")) {
                        window.location = "http://localhost:9000/";
                    }
                };
            </script>
            <h3>Thanh toán thành công! Quay lại trang chủ...</h3>
        </th:block>

        <th:block th:unless="${paySuccess}">
            <form action="#"
                  th:object="${bill}"
                  th:action="@{/customer/create-bill(customerId=${customerId})}" method="POST">
                <div class="row">
                    <a th:href="@{/customer/rented-books={id}(id=${customerId})}" class="btn btn-warning pull-left">
                        <span class="fas fa-backward"></span> Huỷ Thanh Toán
                    </a>
                    <button type="submit" name="action" value="checkingPay" class="btn btn-success pull-right">Xác Nhận</button>
                </div>

                <!-- BẢNG DS ĐẦU TRUYỆN ĐANG MƯỢN -->
                <!-- NẾU KẾT QUẢ TRỐNG -->
                <th:block th:if="${#lists.isEmpty(bill.rentedBooks)}">
                    <script type="text/javascript">
                        window.onload = function () {
                            if (confirm("Không tìm thấy Đầu truyện nào để thanh toán. Vui lòng thực hiện lại!")) {
                                window.location = "http://localhost:9000/";
                            }
                        };
                    </script>
                    <h3>Có lỗi! Không tìm thấy đầu truyện nào để thanh toán!</h3>
                </th:block>

                <!-- NẾU CÓ KẾT QUẢ -->
                <th:block th:unless="${#lists.isEmpty(bill.rentedBooks)}">
                    <!--                <input class="form-control" type="checkbox" name="rentedBooks"-->
                    <!--                       th:each="book,iterStat : *{rentedBooks}"-->
                    <!--                       th:field="*{rentedBooks}" th:value="${book.id}"/>-->

                    <input type="hidden" class="form-control" th:field="*{staff}"/>
                    <input type="hidden" class="form-control" th:field="*{rentedBooks}"/>
                    <input type="hidden" class="form-control" th:field="*{createTime}"/>
                    <input type="hidden" class="form-control" th:field="*{totalAmount}"/>
                    <div class="row">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã</th>
                                <th>Tên Đầu Truyện</th>
                                <th>Ngày Mượn</th>
                                <th>Giá Thuê (Ngày)</th>
                                <th>Tiền Thuê</th>
                                <th>Lỗi Truyện Hiện Tại</th>
                                <th>Tiền Phạt</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="book,iterStat : *{rentedBooks}" class="form-group">
                                <td th:text="${iterStat.count}"></td>
                                <td th:text="${book?.bookTitle?.code}"></td>
                                <td th:text="${book?.bookTitle?.titleName}"></td>
                                <td th:text="${#temporals.format(book?.rentedTime, 'dd/MM/yyyy HH:mm')}"></td>
                                <td th:text="${#numbers.formatCurrency(book?.amount)}"></td>
                                <td th:text="${#numbers.formatCurrency(rentedBookDTOs[__${iterStat.index}__].amountTilToday)}"></td>
                                <td>
                                    <ul class="list-group">
                                        <li class="list-group-item" th:each="p, stat : ${book.penalties}"
                                            th:text="${p?.penalty?.name}">
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list-group">
                                        <li class="list-group-item" th:each="p, stat : ${book?.penalties}"
                                            th:text="${#numbers.formatCurrency(p?.fee)}">
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <th>Tổng Tiền</th>
                                <th colspan="4" th:text="*{#numbers.formatCurrency(totalAmount)}"></th>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </th:block>
            </form>
        </th:block>
    </div>
    <footer th:replace="fragments/layout :: footer"></footer>
</div>

</body>
</html>