<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: common-header"></head>
<body>
	<div class="header-nightsky">
		<nav th:replace="fragments/layout :: header"></nav>
		<div class="hero list" style="margin: 0px auto 20px auto;">
			<h1 style="color: #313131;">Danh Sách Sinh Viên</h1>
			<div th:if="${success}" class="row alert alert-success alert-dismissible">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
				<span th:text="${success}"></span>
			</div>
			<div class="row">
				<a th:href="@{/student/create}" class="btn btn-success pull-left">
					<span class="fas fa-plus-circle"></span> Thêm
				</a>
				<form class="form-inline pull-right" action="#"
					th:action="@{/student/search}" method="GET">
					<div class="form-group">
						<input type="text" class="form-control" name="kw-name"
							placeholder="Nhập tên để tìm..." />
					</div>
					<button type="submit" class="btn btn-success">Tìm</button>
				</form>
			</div>
			<th:block th:if="${#lists.isEmpty(students)}">
				<script type="text/javascript">
	                window.onload = function() {
	                    if(confirm("Không tìm thấy Khách hàng nào với tên đã chọn!")) {
	                    	window.location="http://localhost:8081/student/create";
	                    }
	                };
				</script>			
				<h3>Chưa có sinh viên nào</h3>
			</th:block>
	
			<th:block th:unless="${#lists.isEmpty(students)}">
				<div class="row">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>No</th>
								<th>Name</th>
								<th>Group</th>
								<th>Age</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="contact,iterStat : ${students}">
								<td th:text="${iterStat.count}"></td>
								<td th:text="${contact.name}"></td>
								<td th:text="${contact.group}"></td>
								<td th:text="${contact.age}"></td>
								<td><a th:href="@{/student/edit-id={id}(id=${contact.id})}"><span
										class="glyphicon glyphicon-pencil"></span></a></td>
								<td><a th:href="@{/student/{id}/delete(id=${contact.id})}"><span
										class="glyphicon glyphicon-trash"></span></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</th:block>
		</div>
		<footer th:replace="fragments/layout :: footer"></footer>
	</div>

</body>
</html>